:root {
    --bg-primary: #f3fbff;
    --bg-showcase: #dedede; 
    --bg-services: #f7f7f7;
    --bg-footer: #2baaec;
    --bg-appointment: rgba(43,170,236,0.8);
    --btn-primary: #25e6c8;
    --img-showcase: #bfbfbf;
    --btn-service-hover: #2baaec;
    --logo-color: #2e2e;

  }