@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* @import 'colors.css'; */

:root {
    --bg-primary : #ffffff;
    --bg-showcase: #dedede; 
    --bg-services: #f7f7f7;
    --img-showcase: #bfbfbf;
    --primary: #2baaec;
    --secondary: #25e6c8;
    --txt-primary: #363636;
    --txt-secondary: #626262;
    --topnavborder: #707070;
    --txt-white: #fff;
    --btn-appointment: #ffffff;
    --btn-appointment-border-hover: #ffffff;
    --footer-border: #ffffff;
    --txt-copyright: #f3fbff;

  }

/* Defaults */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg-primary);
    color: var(--txt-primary);

}

a {
    text-decoration: none;
}
/* Defaults End */

/* Help classes */
.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.bg-gray {
    background-color: var(--bg-showcase);
}

.bg-footer {
    background-color: var(--primary);
}

.bg-appointment {
    background-color: var(--primary);
}

.bg-overlay {
    opacity: 0.80;
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    outline: none;
}

.btn-primary {
    background-color: var(--secondary) ;
    color: var(--txt-white);
    
}
.btn-primary:hover {
    background-color: var(--primary);
    transition: all 0.2s linear;
}

/* Help classes End */

/* Top-nav Start */
.top-nav-collapse{
    display: none;
}

.top-nav {
    border-bottom: 1px solid var(--topnavborder);
    padding: 0.5rem;
    margin-bottom: 1rem;
        
}
.top-nav .container, .main-nav .container, #aboutus .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav .opening-hours i {
    color: var(--primary);
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
.social-media a {
    text-decoration: none;
    color: var(--primary);
    margin: 0 0.4rem;
    font-size: 1.2rem;
}
.social-media a:hover {
    color: var(--secondary);
    transition: all 0.2s linear;
}
/* Top-nav End */

/* Main-nav Start */

.main-nav .container {
    margin: 1.5rem auto;
}
.main-nav-collapse {
    display: none;
}
.main-nav-nav {
    display: flex;
    flex-direction: column;
}
.main-nav-nav a {
    margin-left: 1rem;
    color: var(--txt-primary);
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
    padding: 0.5rem;
}
.main-nav-toggler {
    font-size: 2.5rem;
    color: var(--primary);
    background-color: transparent;
    border: 1px solid transparent;
}
/* Main-nav End */

/* Showcase Start  */
#showcase .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  
}

#showcaseImgDesktop {
    height: 32rem;
    width: auto;
    margin-top: 1rem;
    margin-left: -2rem;
    display: none;
    
   
}
.showcase-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.showcase-content h1 {
    color: var(--txt-primary);
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;
}
.showcase-content p {
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--txt-secondary);
}
/* Showcase End */

/* About us Start */


#aboutus .container {
    gap: 1rem;
}
.aboutus-info {
    width: 100%;
    text-align: center;
    margin-top: 6rem;
}
#aboutus {
    margin-top: 4rem;
}
#aboutus-top h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1.2;
    padding-bottom: 2rem;
    border-bottom: 4px solid var(--secondary);
}
#aboutus-top span {
    color: var(--primary);
}
#aboutus-top p {
    margin: 1.5rem 0; 
    font-size: 0.8rem;
}
#aboutus-infotext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#aboutus-infotext h3 {
    margin-top: 1rem;
    color: var(--primary);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
   
}
#aboutusImgDesktop {
    display: none;
}

/* About us End */

/* Services Start */
#services {
    width: 100%;
    background-color: var(--bg-services);
    padding-bottom: 7rem;
}
#services .container .centerflex {
    display: flex;
    align-items: center;
    justify-content: center;
}
#services .container .ourServices {
    border-bottom: 0.25rem solid var(--secondary);
    padding: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 7rem;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.375rem;
    color: var(--txt-primary);
    width: 50%;
}
#services .container .card img {
    background-color: var(--secondary);
    height: 6.75rem;
    width: 6.75rem;
    padding: 1rem;
    background-size: 7.5rem 7.5rem;
    border-radius: 50%;
    
    
}
#services .container .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#services .container .card {
    background-color: var(--bg-primary);
    height: 27.25rem;
    width: 80%;
    margin: 2rem 0;
    border-radius: 0.625rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 5rem 3rem;
}
#services .container .card h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--txt-primary);
    margin-top: 1.5rem;
    text-align: center;
}
#services .container .card p {
    font-size: 1.1rem;
    color: var(--txt-secondary);
    text-align: center;
}
#services .container .card:hover > img {
    background-color: var(--primary);
    box-shadow: 0 0 5px 10px #2ba8ec4d;
    transition: all 0.2s linear;
}
#services .container .card:hover {
    transition: all 0.2s linear;
    transition-delay: 0.2s;
    box-shadow: 0 0 10px 6px #dbd9d9;
}

/* Services End */

/* Appointment Start */
#appointment {
    width: 100%;
    margin: auto;
}
#appointment .container {
    height: 12rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#appointment p {
    font-family: 'Roboto Slab', serif;
    font-size: 1.2rem;
    color: var(--txt-white);
    text-align: center;
}

.btn-appointment {
    margin-top: 2rem;
    background-color: var(--btn-appointment);
    color: var(--primary);
    

}

.btn-appointment:hover {
    background-color: var(--primary);
    color: var(--txt-white);
    border-color: var(--btn-appointment-border-hover);
    transition: all 0.2s linear;

}
/* Appointment End */

/* Footer Start */
footer {
    height: 4rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    border-top: 1px solid var(--footer-border);
}


.copyright {
    color: var(--txt-copyright);
    width: 10rem;
    align-self: center;
}
.footer i {
    font-size: 1.2rem;
    margin: 0 0.2rem
}
/* Footer End */

/* Mediaqueries */
@media(min-width: 768px){
    .container {
        max-width: 720px;
    }
    .main-nav-nav {
        flex-direction: row;
    }
    .main-nav-collapse {
        display: inline-block;
    }
    .top-nav-collapse {
        display: flex;
    }
    .main-nav-toggler {
        display: none;
    }
    .showcase-content h1 {
        font-size: 2rem;
    }
    .showcase-content p {
        margin: 1.5rem 0;
        
    }
   
    .showcase-content {
        
        align-items: flex-start;
        padding: 0;
        margin-left: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: left;
    }
    #showcaseImgDesktop {
        height: auto;
        display: flex;
    
        
    }
    #aboutus-infotext {
        align-items: center;
        text-align: center;
        justify-content: space-between;
               
    }
    #aboutus-infotext h3 {
        margin-top: 2rem;
       
       
    }
    #aboutusImgDesktop {
       display: flex;
    }
    .aboutus-info {
        width: 50%;
       
    }
    #aboutus-top p {
        margin-top: 2rem;
        font-size: 0.8rem;
    }
    #aboutus .container {
        text-align: left;
        align-items: flex-start;
    }
    .aboutus-top h1 {
        font-size: 2.5rem;
    }
    #services .container .ourServices {
        width: 30%;
    }
    #services .container .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #services .container .card {
        width: 47%;
    }

    #appointment .container {
     flex-direction: row; 
     justify-content: space-between;
    }
    #appointment p {
        font-size: 1.8rem;
    }
    .btn-appointment {
        margin: 0;
    }
}

@media(min-width: 992px){
    .container{
        max-width: 960px;
    }
    .showcase-content h1 {
        font-size: 3rem;
    }
    .showcase-content p {
        margin: 2rem 0;
    }
    
    #showcaseImgDesktop {
        height:  auto;
    }
    #aboutusImgDesktop {
        height: auto;
    }
    
    #aboutus-infotext h3 {
        font-size: 2.5rem;
    }
    #aboutus .container {
        gap: 3rem;
    }
   
    #aboutus-top {
        text-align: left;
    }
    #aboutus-infotext {
        flex-direction: row;
        text-align: left;
    }
    #services .container .card {
        width: 30%;
    }

@media(min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    .showcase-content h1 {
        font-size: 4rem;
    }
    .showcase-content p {
        margin: 3rem 0;
    }
    #aboutus-infotext {
        width: 80%;
    } 
    
    
}

@media(min-width: 1400px){
    .container {
        max-width: 1330px;
    }
    #aboutus-top h1 {
        font-size: 3rem;
    }
    #aboutus-top p {
        font-size: 1rem;
    }
}