@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/* @import 'colors.css'; */

:root {
    --bg-primary: #f3fbff;
    --bg-showcase: #dedede; 
    --bg-services-topnav: #f7f7f7;
    --bg-footer: #2baaec;
    --bg-appointment: rgba(43,170,236,0.8);
    --btn-primary: #25e6c8;
    --img-showcase: #bfbfbf;
    --btn-service-hover: #2baaec;
    --primary: #2baaec;
    --txt-primary: #363636;
    --txt-secondary: #626262;
    --topnavborder: #707070;
    --social-primary: #2baaec;
    --social-hover: #25e6c8;
    --txt-white: #fff;
    --bg-footer: #2baaec

  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
head, body {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bg-primary);
    color: var(--txt-primary);

}

a {
    text-decoration: none;
}

/* help classes */
.container {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

.bg-gray {
    background-color: var(--bg-showcase);
}

.bg-footer {
    background-color: var(--bg-footer);
}

.btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--btn-primary) ;
    color: var(--txt-white);
    font-weight: bold;
}

/* top nav */
.top-nav-collapse{
    display: none;
}

.main-nav-collapse {
    display: none;
}
.top-nav {
    border-bottom: 1px solid var(--topnavborder);
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--bg-services-topnav);
}
.top-nav .container, .main-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-nav .opening-hours i {
    color: var(--social-primary);
    font-size: 1.2rem;
    margin-right: 0.5rem;
}
.social-media a {
    text-decoration: none;
    color: var(--social-primary);
    margin: 0 0.4rem;
    font-size: 1.2rem;
}
.social-media a:hover {
    color: var(--social-hover);
}

/* main nav */
.main-nav-nav {
    display: flex;
    flex-direction: column;
}
.main-nav-nav a {
    margin: 0 1rem;
    color: var(--txt-primary);
    font-family: 'Roboto Slab' serif;
    font-size: 18px;
    padding: 0.5rem;
}
.main-nav-toggler {
    font-size: 2.5rem;
    color: var(--primary);
    background-color: transparent;
    border: 1px solid transparent;
}

#showcase .container {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
}


#placeholderImg {
    height: 100%;
    width: auto;
    margin-top: 1rem;
    /* border: 1px solid black; */
}
/* .showcase .container {
    height: 31.25rem;
} */
.showcase-content {
    align-self: center;
    padding: 0;
}

.showcase-content h1 {
    color: var(--txt-primary);
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.2;
}
.showcase-content p {
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--txt-secondary);
}

footer {
    height: 4rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}


.copyright {
    color: var(--bg-primary);
    width: 10rem;
    align-self: center;
}
.footer i {
    font-size: 1.2rem;
    margin: 0 0.2rem
}

/* mediaqueries */
@media(min-width: 768px){
    .container {
        max-width: 720px;
    }
    .main-nav-nav {
        flex-direction: row;
    }
    .main-nav-collapse {
        display: inline-block;
    }
    .top-nav-collapse {
        display: flex;
    }
    .main-nav-toggler {
        display: none;
    }
    .showcase-content h1 {
        font-size: 2rem;
    }
    .showcase-content p {
        margin: 1.5rem 0;
    }
    .showcase-content {
        padding: 3rem;
    }
    #placeholderImg {
        height: 100%;
    }
}

@media(min-width: 992px){
    .container{
        max-width: 960px;
    }
    .showcase-content h1 {
        font-size: 3rem;
    }
    .showcase-content p {
        margin: 2rem 0;
    }
    .showcase-content {
        padding: 4rem;
    }
}

@media(min-width: 1200px){
    .container{
        max-width: 1140px;
    }
    .showcase-content h1 {
        font-size: 4rem;
    }
    .showcase-content p {
        margin: 3rem 0;
    }
    .showcase-content {
        padding: 5rem;
    }
    
}